*{

    margin: 0;
    padding: 0;

    font-family: 'Uchen', serif;

    box-sizing: border-box;

}

body{

    background-image: url(../images/bg9.jpeg);
    background-attachment: fixed;

}

#logoDiv{

    background:url(../images/logo/2.8.png);

    width:20vw;
    height: 15vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.navBarWrapper{

    background-color: rgba(0, 0, 0, 0.6);

    margin-top: 5vh;
    margin-bottom: -2em;

    display: grid;
    grid-auto-rows: (5vh auto);
    grid-template-columns: repeat(5, 1fr);

}

.elements{

    color: rgba(255, 255, 255, 0.87);

    font-family: 'Roboto Condensed', sans-serif;

    text-decoration: none;

}

.elements:hover{

    font-size: 105%;
    font-weight: bolder;

    transition: 0.1s;

}

.element1, .element2, .element4, .element5{

    height: 4.5vh;
    margin: auto;
    
}

#seafoodRestaurant{
    
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.87);

    margin-top: 10vh;
    margin-bottom: 7vh;
    text-align: center;

}

.grid-container{

    width: 50vw;

    margin-bottom: 10vh;
    margin-left: 3vw;

    display: grid;
    grid-auto-columns: minmax(20%, auto);
    grid-auto-rows: minmax(5vh, auto);
    grid-gap: 10px;

}

h3{

    color:white;
    text-align: center;

}

ul{

    list-style-type: none;

}

li{

    padding:8px;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;

}

span{

    font-weight: normal;
    float: right;

}

.grid-item{

    background-color: rgba(0, 0, 0, 0.6);
    color: white;

}

.grid-item-7{

    background: none;

    margin-top: 4vh;

    grid-column-start: 1;
    grid-column-end: 3;

}

#drinkWrapper{

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;

}

#drinkMenu{

    background:rgba(119, 187, 119, 0.705);
    margin-bottom: 1vh;

}

.drink-grid-item{

    background:rgba(119, 187, 119, 0.705);
    
}

.drink-grid-item-4{

    grid-column-start: 1;
    grid-column-end: 3;

}

#floatLeftDiv{

    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    margin-right: 15vw;
    text-align: center;

    float: right;

    position: sticky;
    top:15vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 5px;
    
}

.bookElement-4, .bookElement-5, .bookElement-6, .bookElement-7, .bookElement-8{

    font-size: 120%;

}

.bookElement-8{

    background-color: rgba(0, 128, 0, 0.9);

    font-family: 'Roboto Condensed', sans-serif;

    border: none;

}

.bookElement{

    padding: 5px;

    font-family: 'Roboto Condensed', sans-serif;

    border: none;

}

